<div class="container mt-5">
    <div class="card-deck">
        {{#each data}}
        <div class="card mb-3" style="min-width:300px">
            <img src="{{this.pic}}" alt="" class="card-img-top">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this.name}}</li>
                    <li class="list-group-item">{{this.email}}</li>
                    <li class="list-group-item">{{this.phone}}</li>
                    <li class="list-group-item">{{this.age}}</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>