<div class="container mt-5">
    <div class="card-deck">
        {{#each data}}
        <div class="card mb-3" style="min-width:300px;max-width:300px">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this.name}}</li>
                    <li class="list-group-item">{{this.email}}</li>
                    <li class="list-group-item">{{this.phone}}</li>
                    <li class="list-group-item">{{this.age}}</li>
                    <li class="list-group-item">{{this._id}}</li>
                    <li class="list-group-item">{{this.languagesKnown}}</li>

                </ul>
            </div>
            <div class="card-footer">
               
                <button type="button" value="{{this._id}}" class="deletestu">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>